# Default ignored files
build/
.idea/
out/
test/
build.xml/
manifest.mf/
.iml/

/shelf/
/.idea/workspace.xml
# Ignore manifest.mf
manifest.mf

# Ignore build.xml
build.xml

# Ignore inventory_management.iml
Inventory_Management.iml

